.types {
  margin: 2% 0;
  text-align: center;
}
.types a {
  margin: 2%;
  text-decoration: none;
  color: black;
  font-weight: 500;
  position: relative;
}

.types a:hover,
.types a:focus {
  color: rgb(255, 0, 76);
  text-decoration: none;
}

.types a:hover::after,
.types a:focus::after {
  content: "";
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: -5px;
  border: 2px solid rgb(255, 0, 76);
  border-radius: 40%;
}

.checkout-button {
  background-color: rgb(255, 0, 76);
  padding: 1% 5%;
  border-radius: 10px;
  border: none;
  color: #fff;
}

.checkout-button:active {
  border: none;
}
.checkout-button:disabled {
  background-color: gray;
}
