.cart-buttons {
  margin-left: 30px;
  border: 1px solid gray;
  border-radius: 30px;
  width: 85px;
  height: 28px;
  color: gray;
}

.addto-cart {
  background-color: rgb(255, 0, 76);
  border-radius: 25px;
  color: white;
  font-size: 12px;
  padding: 8px 22px;
  border: none;
}

.addto-cart:active {
  border: none !important;
  background-color: rgb(182, 46, 87);
  border: none;
}

.foodDetails-img {
  width: 80%;
}
.swiper-wrapper {
  width: 350px;
  list-style-type: none;
}
.swiper-slide {
  width: 30% !important;
}

.swiper-slide img {
  width: 80%;
}

.swiper-scrollbar {
  display: none;
}
