.banner {
  width: 100%;
  height: 450px;
  background: url("https://i.imgur.com/9HhZff3.png");
  background-position: center;
  background-size: cover;
  position: relative;
}
#search-button {
  color: white;
  background-color: rgb(255, 0, 76);
  border-radius: 20px;
}
.input-container {
  width: 420px;
}

.search-input:focus {
  box-shadow: none !important;
  font-weight: 550;
}
